.card {
	// max-width: 350px;
	margin-bottom: 2rem;
	box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
	line-height: 22px;

	h5 {
		font-weight: 600;
	}

	.car_image {
		max-width: 50%;
		border-radius: 3px 0px 0 3px;
	}

	.info_container {
		justify-content: space-between;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 1rem;

		.info_car {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			h4 {
				margin: 0;
			}
			h5 {
				margin: 15px 0 0 0;
			}
			h5:nth-child(3) {
				margin: 0 0 20px 0;
			}
		}

		.bottom_card_info {
			.price_devider {
				color: #6b6b6b;
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px 0 10px 0;

				.price {
					.car_price_element {
						display: flex;
						align-items: center;
						justify-content: flex-end;

						h5 {
							margin-right: 3px;
						}
						.price_exclamation {
							&:hover {
								cursor: pointer;
							}
						}
					}
					.tax {
						text-align: right;
					}
				}

				h5 {
					color: #e23357;
					margin: 0;
					font-size: 16px;
				}
				h5:last-child {
					font-weight: bold;
				}

				p {
					margin: 0;
				}
			}
			.partners {
				display: flex;
				justify-content: space-between;
				box-sizing: border-box;
				margin-top: 2rem;
				.linkComponent {
					text-decoration: none;
					outline: none;
				}
				.detailLink {
					width: 150px;
					height: 45px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					padding: 5px;
					background: #e23357;
					border: none;
					color: white;
					border-radius: 5px;
					outline: none !important;
				}
				img {
					width: 7rem;
				}
			}
		}
	}
}

//------------- MEDIA QUERY STARTS HERE -------------//

@media (min-width: 1500px) {
	.card {
		display: flex;
		width: 61rem;

		img {
			width: 100%;
			height: 100%;
		}

		.info_container {
			img {
				width: 50%;
			}
			.partners {
				display: flex;
				justify-content: space-between;
				img {
					width: 7rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1499px) {
	.card {
		margin: 1rem auto;
		img {
			border-radius: 3px 3px 0 0px;
			width: 100%;
		}
		.bottom_card_info {
			.partners {
				.detailLink {
					width: 75px;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.card {
		margin: 1rem auto;
		width: 400px;
	}
	.partners {
		padding: 0;
	}
}

@media screen and (max-width: 1024px) {
	.card {
		margin: 1rem auto;
		width: 450px;
		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 800px) {
	.card {
		width: 350px;
		display: flex;
		flex-direction: column;
		margin: 1rem auto;
		padding: 0 0 1rem 0;
		img {
			width: 100%;
		}
		.info_container {
			margin: 0;
			padding: 0.5rem 1rem 0 1rem;
			.bottom_card_info {
				.partners {
					width: 100%;
					padding: 0;
					display: flex;
					.linkComponent {
						.detailLink {
							width: 95px;
							height: 45px;
						}
					}
				}
				.price_devider {
					.separator {
						margin-right: 2rem;
					}
					.price {
						width: 125px;
						p {
							text-align: center;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.card {
		width: 85%;
	}
}

@media screen and (max-width: 380px) {
	.card {
		width: 85%;
	}
}

@media screen and (max-width: 300px) {
	.card {
		width: 85%;

		.info_container {
			.bottom_card_info {
				.partners {
					display: block;
					img {
						margin: 3px 0;
						width: 100%;
					}
					.linkComponent {
						.detailLink {
							width: 100%;
							height: 45px;
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}
}
