.make_wrapper {
	p {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 15px 0 8px 0;
		padding: 0;
		color: #777;
		font-size: 14px;
		border-bottom: 1px solid #ececec;

		.make_toggle_icon {
			width: 13px;
			height: 13px;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.make_checkbox_container {
		display: flex;
		align-items: center;
		margin-bottom: 5px;

		input {
			width: 15px;
			height: 15px;
			border: none;
			box-shadow: inset 0 1px 3px 0 rgba(34, 34, 34, 50%);
			margin-right: 10px;
		}
		label {
			font-size: 12px;
		}
	}
}
