.carScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.vhCar {
		background-color: rgba(31, 31, 36, 0.87);
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 10;

		button {
			font-size: 1rem;
			color: white;
			text-decoration: none;
			background: transparent;
			border: none;
			text-align: center;

			&:focus {
				text-decoration: none;
				border: none;
				outline: none;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.specific_car {
		width: 80%;
		text-align: center;

		.img_grid {
			margin: 20px auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 40px;

			.img_wrap {
				overflow: hidden;
				height: auto;
				position: relative;
				opacity: 0.85;

				&:hover {
					opacity: 1;
				}

				img {
					min-height: auto;
					min-width: 80%;
					max-width: 150%;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		.seeMore_vhDisplay {
			padding: 11px;
			background-color: #e23357;
			box-shadow: none;
			border: none;
			/* border-radius: 7px; */
			color: white;
			width: 200px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

// --------- MEDIA QUERY STARTS HERE ----------- //

@media screen and (max-width: 600px) {
}
