@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
	--font-family: "Poppins", sans-serif;
	--font-family2: "Montserrat", sans-serif;
	--font-family3: "Roboto", sans-serif;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
	padding: 0;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
