.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	justify-content: center;

	.main {
		display: flex;
		justify-content: center;
	}

	.footer {
		width: 100%;
		height: 75px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
