.vehicle_desc_main {
	margin-top: 2rem;

	.aboutVh {
		display: flex;
		align-items: center;

		.aboutVh_info_wrap {
			display: flex;
			align-items: center;
			margin-right: 20px;

			.vh_about_icon {
				margin-right: 5px;
				font-size: 18px;
			}
			a {
				outline: none;
				color: black;
				text-decoration: none;
			}
			h5 {
				font-size: 14px;
			}
		}
	}

	.aboutVh_wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
		column-gap: 5px;
		row-gap: 15px;
		margin-bottom: 3rem;
		width: 75%;
		max-width: 700px;

		.aboutVh_card {
			border: 1px solid rgba(186, 186, 186, 0.5);
			border-radius: 3px;
			text-align: left;
			padding: 10px 0 0 10px;
			width: 135px;

			h5 {
				margin: 30px 0 8px 0;
			}
			p {
				margin: 0 0 10px 0;
				font-size: 14px;
			}
			.vh_card_icon {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.aboutVh {
		width: 80%;
		display: flex;
		flex-wrap: wrap;
		align-items: left;

		.aboutVh_info_wrap {
			padding: 5px;
		}
	}
}
@media screen and (max-width: 450px) {
	.vehicle-desc-main {
		.aboutVh_wrapper {
			grid-template-columns: 1fr 1fr;
		}
		.aboutVh {
			width: 90%;
			display: flex;
			flex-wrap: wrap;
			align-items: left;

			.aboutVh_info_wrap {
				padding: 5px;
			}
		}
	}
}
@media screen and (max-width: 300px) {
	.vehicle-desc-main {
		.aboutVh_wrapper {
			width: 100%;

			display: flex;
			flex-direction: column;
			align-items: center;

			.aboutVh_card {
				width: 65%;
			}
		}
	}
}
