.header {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #333338;
  border-bottom: 3px solid #db1943;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  .logo {
    margin-top: 20px;
  }

  .contacts {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */

    a {
      color: white;
      font-size: 17px;
      line-height: 1.6;
      text-decoration: none;
      font-weight: 400;
      margin-right: 5rem;
    }

    .contact {
      display: flex;
      align-items: center;
      .icon {
        margin: 0 3px 2px 0;
        font-size: 22px;
        color: #db1943;
      }
    }
  }
}
.hrRule {
  height: 3px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #db1943;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
}

// -------------- MEDIA QUERY STARTS HERE ------------ //

@media screen and (max-width: 1499px) {
  .header .contacts a {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .contacts {
    display: block;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 15rem;
    width: 100%;

    .contacts {
      display: flex;
      flex-direction: column;

      a {
        margin: 0;
      }
    }
    .contact {
      padding: 5px;
    }
  }
}
