.sidebar_main {
	position: relative;
	width: 300px;
	height: 100%;
	// border: 1px solid red;
	margin-right: 4rem;

	.sidebar_wrapper {
		width: 300px;
		box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
		padding: 0 1.5rem;
		margin: 3rem 4rem 0 0;
		border-top: 4px solid #e23156;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		position: fixed;
		padding-bottom: 2rem;

		h3 {
			margin-bottom: 0;
			margin-top: 10px;
		}
		h4 {
			margin-bottom: 0;
			margin-top: 10px;
			color: #666;
		}

		.sidebar_collapse_buttons {
			margin-left: 2px;
			button {
				margin: 0 1rem 0 0;
				padding: 0;
				display: inline-flex;
				align-items: center;
				border: none;
				background-color: transparent;
				color: #777;
				font-size: 14px;

				&:hover {
					cursor: pointer;
				}
			}
			.collapse {
				color: #bbb;
			}
		}
		.top_search {
			select {
				width: 85%;
				background-color: #fff;
				border: 0;
				border-left: 3px solid #e23156;
				padding: 7px;
				border-radius: 3px;
				box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
				-webkit-box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
				outline: none;
				color: #666;
			}
			input {
				width: 85%;
				background-color: #fff;
				border: 0;
				border-left: 3px solid #e23156;
				padding: 8px;
				border-radius: 3px;
				box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
				-webkit-box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
				outline: none;
			}
		}
	}
}

@media (min-width: 1500px) {
	.sidebar_wrapper {
		width: 300px;
	}
}
@media (max-width: 1300px) {
	.sidebar_wrapper {
		width: 300px;
		margin: 3rem 5rem 0 0;
	}
}

@media (max-width: 800px) {
	.sidebar_wrapper {
		margin: 1rem 3rem 1rem 0;
		width: 250px;
	}
}

@media (max-width: 600px) {
	.sidebar_main {
		display: none;
	}
}
