.footer_wrapper {
  height: 75px;
  background-color: #333338;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #db1943;
  box-shadow: 0.6rem 0 1rem rgba(0, 0, 0, 0.4);
  font-size: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  a {
    text-decoration: none;
    outline: none;
    color: #fff;
  }
}
