.cityAndSearch {
  .inventory_header {
    /* text-align: center; */
    // margin-left: 0%;
    padding: 10px;

    h3,
    h6 {
      font-weight: 900;
    }
  }
}
.grid_test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

//---------------- MEDIA QUERY STARTS HERE ---------------//

@media screen and (min-width: 1500px) {
  .inventory_header {
    width: 60rem;
    margin: 0;
  }

  .grid_test {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1499px) {
  .grid_test {
    grid-template-columns: 1fr 1fr;
  }
  .cityAndSearch {
    .top-search {
      text-align: center;

      select {
        width: 300px;
        background-color: #fff;
        border: 0;
        border-left: 3px solid #e23156;
        padding: 7px;
        border-radius: 3px;
        box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
        -webkit-box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
        outline: none;
        color: #666;
      }
      input {
        width: 300px;
        background-color: #fff;
        border: 0;
        border-left: 3px solid #e23156;
        padding: 8px;
        border-radius: 3px;
        box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
        -webkit-box-shadow: 0 0.1rem 0.4rem rgba(155, 155, 155, 0.4);
        outline: none;
      }
    }
    .inventory_header {
      margin: 0 35px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .grid_test {
    grid-template-columns: 1fr;
  }
  .inventory_header {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .grid_test {
    grid-template-columns: 1fr;
  }
  .inventory_header {
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .cityAndSearch {
    .top-search {
      text-align: center;
      select {
        width: 275px;
        padding: 8px;
      }
      input {
        width: 275px;
        padding: 10px;
      }
    }
  }
  .grid_test {
    grid-template-columns: 1fr;
  }
  .inventory_header {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  .cityAndSearch {
    .top-search {
      text-align: center;
      select {
        width: 225px;
        padding: 8px;
      }
      input {
        width: 225px;
        padding: 10px;
      }
    }
  }
  .grid_test {
    grid-template-columns: 1fr;
  }
  .inventory_header {
    margin: 0;
    text-align: center;
  }
}
