.modal_div_for_car {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 15;

	.innerDiv {
		.modalCarImage {
			display: block;
			min-width: 60%;
			max-width: 80%;
			max-height: 80%;
			margin: 60px auto;
			box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
		}

		.next_image {
			position: absolute;
			top: 50%;
			right: 5%;
			color: white;
			padding: 5px;
			border-radius: 5px;
			background-color: rgba(100, 100, 100, 0.8);
			&:hover {
				cursor: pointer;
			}
		}

		.prev_image {
			position: absolute;
			top: 50%;
			left: 5%;
			color: white;
			padding: 5px;
			border-radius: 5px;
			background-color: rgba(100, 100, 100, 0.8);
			&:hover {
				cursor: pointer;
			}
		}
	}
}

// ------------- MEDIA QUERY STARTS HERE ----------- //

@media screen and (max-width: 600px) {
	.modal_div_for_car {
		padding-top: 25%;
		.innerDiv {
			.modalCarImage {
				display: block;
				min-width: 60%;
				max-width: 95%;
				max-height: 95%;
				margin: 60px auto;
				box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
			}

			.next_image {
				position: absolute;
				top: 115%;
				right: 5%;
				color: white;
				padding: 15px;
				border-radius: 5px;
				background-color: rgba(100, 100, 100, 0.8);
				&:hover {
					cursor: pointer;
				}
			}

			.prev_image {
				position: absolute;
				top: 115%;
				left: 5%;
				color: white;
				padding: 15px;
				border-radius: 5px;
				background-color: rgba(100, 100, 100, 0.8);
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
